<div class="min-h-[100dvh] bg-gray-50 transition-colors duration-300 dark:bg-gray-950">
  @if (toastService.toast()) {
    <div
      class="slide-in-from-top-2 fixed top-4 right-4 z-[9999] rounded-lg px-4 py-2 text-sm shadow-lg transition-all duration-300"
      [ngClass]="{
        'bg-green-100 text-green-700 dark:bg-green-900 dark:text-green-300':
          toastService.toast()?.type === 'success',
        'bg-red-100 text-red-700 dark:bg-red-900 dark:text-red-300':
          toastService.toast()?.type === 'error',
      }"
    >
      {{ toastService.toast()?.message }}
    </div>
  }

  <router-outlet></router-outlet>
</div>
